/* This file is part of Moodle - http://moodle.org/

 Moodle is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Moodle is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Moodle. If not, see <http://www.gnu.org/licenses/>.
 */

@import url("bootstrap.css");

.tabtree ul {
    text-align: left;
}

.socialwiki_headingtitle {
    text-align: left;
}


.tree_node
{
color:black !important;
}

.socialwiki_liketable {
	width: 100%
}

.relation_line
{
background-color:black !important;
}

.socialwiki_likelist, .socialwiki_followlist
{
text-align:center;
}

.socialwiki_unfollowlink,.socialwiki_unlikelink
{
	position:relative;
	margin-left:50px;
}

.socialwiki_link
{
text-decoration:underline;
margin-left:25px;
font-weight:bold;
font-style:italic;
}

.socialwiki_link:link
{
    display:inline-block;
    margin-left:20px;
}

.socialwiki_likebutton
{
line-height: 20px;
font-size: 2em;
font-weight: bold;
color:blue;
}

/*this is in fact used just to display the author in the bottom of a page (should be renamed)*/
.wikititle
{
text-align:right;
}

#socialwiki_container
{
	display:none !important;
}


#page-mod-socialwiki-search #socialwiki_content_area
{
overflow:auto;
position:relative;
text-align:left;
}

#page-mod-socialwiki-history #socialwiki_content_area
{
overflow:auto;
position:relative;
text-align:left;
}

.slidecontainer
{
	display:inline-block;
	margin:25px;
	width:20px;
	
}
